<h1>Introduction</h1>
Oily Giant yes yes

Import statements necessary to complete the task

In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression	
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.utils import shuffle
from sklearn.metrics import roc_auc_score 
from sklearn.metrics import roc_curve

Importing the data

In [2]:
geo_data_0 = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/oily-giant-tripleten/geo_data_0.csv', encoding = "utf-8")
geo_data_1 = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/oily-giant-tripleten/geo_data_1.csv', encoding = "utf-8")
geo_data_2 = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/oily-giant-tripleten/geo_data_2.csv', encoding = "utf-8")

This code looks at a sample of the data and basic information about the data

In [5]:
display(geo_data_0.sample(10))
geo_data_0.info()

          id        f0        f1        f2     product
28689  Rgigu  0.633729 -0.518301  2.970767  129.775650
86291  NXkmf  0.372661  0.852741  6.221247   50.264068
5794   dd78e  0.412504  1.018591  8.959757  121.162430
91700  RwdhV  0.991761  0.307867  3.427862  107.075526
57937  OOVI4  0.972454  0.186771  4.105464  138.022500
64008  0q7Zk  0.693025 -0.425098  8.425803  146.303029
34610  HAEM6 -0.521710  0.850772  1.588074  122.767706
13562  xISXA  1.881258  0.145090  6.383444  154.086631
17562  dQXFk  0.674015  0.677188  2.284586   12.155892
12384  n8tdG  0.538543  0.839318  4.837324   64.661044

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [3]:
display(geo_data_1.sample(10))
geo_data_1.info()

          id         f0         f1        f2     product
8719   RJPra  -9.056189  -6.904936  1.007228   30.132364
88298  xwAvk  -4.257293  -3.078122  5.007702  134.766305
56001  3YIAU   6.224066   5.633134  1.994180   53.906522
13952  1W9gx  -1.084490  -3.120577  2.009045   53.906522
74657  ONS5s   2.070337 -11.217240  2.009203   53.906522
70837  ixYEh   5.964689  -1.300450  2.999052   80.859783
81465  eshkU  -4.998567  -1.529869  2.995545   80.859783
24866  Debjj  -0.846664  -7.649239  2.998893   80.859783
93998  6G8vq  -7.866844  -1.999925  2.001549   57.085625
15885  GKzLZ -10.624202  -9.248917  5.014353  137.945408

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [4]:
display(geo_data_2.sample(10))
geo_data_2.info()

          id        f0        f1        f2     product
20189  svaCp -1.385629 -3.958705  0.360813  134.149005
62175  h1fh1 -0.460552  3.217727 -0.770368   96.033625
75145  onicK  1.236008  1.616575  3.996478  126.768436
95351  AxEDV -2.657500  2.509296  4.801042  101.851596
83253  VsIRA  0.212243 -0.972586  0.286203   69.926080
97754  7VXc0  2.152425  0.825978  0.789887  172.047469
24291  kWWFF  0.171908  1.684907 -0.399203   20.796149
52273  k7JiE -1.381492 -2.009041  0.867252   42.063332
31345  PcFN4  1.765367  1.123277  4.822285  124.420405
21093  jZAd3 -2.648590 -0.050898 -2.378483   82.618374

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

<h2>Data Preprocessing</h2>

This code checks for duplicate rows

In [7]:
print(geo_data_0.duplicated().sum())
print(geo_data_1.duplicated().sum())
print(geo_data_2.duplicated().sum())

0
0
0

This code checks for duplicate unique identifiers. It found some in each dataframe, so I proceeded to the next step.

In [8]:
print(geo_data_0['id'].duplicated().sum())
print(geo_data_1['id'].duplicated().sum())
print(geo_data_2['id'].duplicated().sum())

10
4
4

This code checks for duplicate data across the dataframe that corresponds to the unique identifiers. It found none, so I left the unique identifiers alone.

In [13]:
print(geo_data_0.duplicated(subset=['id', 'f0']).sum())
print(geo_data_0.duplicated(subset=['id', 'f1']).sum())
print(geo_data_0.duplicated(subset=['id', 'f2']).sum())
print(geo_data_0.duplicated(subset=['id', 'product']).sum())

0
0
0
0

In [14]:
print(geo_data_1.duplicated(subset=['id', 'f0']).sum())
print(geo_data_1.duplicated(subset=['id', 'f1']).sum())
print(geo_data_1.duplicated(subset=['id', 'f2']).sum())
print(geo_data_1.duplicated(subset=['id', 'product']).sum())

0
0
0
0

In [15]:
print(geo_data_2.duplicated(subset=['id', 'f0']).sum())
print(geo_data_2.duplicated(subset=['id', 'f1']).sum())
print(geo_data_2.duplicated(subset=['id', 'f2']).sum())
print(geo_data_2.duplicated(subset=['id', 'product']).sum())

0
0
0
0

<h2>Data Modeling</h2>

This function will split, scale and create a model that can be used for all three dataframes

In [65]:
#function to split, scale, and model data
def split_scale_model_data (data_train, data_valid, df, features_train, target_train, features_valid, target_valid):
    data_train, data_valid = train_test_split(df, test_size=0.25, train_size = 0.75, random_state=54321, shuffle=True)

    features_train = data_train.drop(['id', 'product'], axis=1)
    target_train = data_train['product']
    features_valid = data_valid.drop(['id', 'product'], axis=1)
    target_valid = data_valid['product']

    numeric = ['f0', 'f1', 'f2']
    scaler = StandardScaler()
    scaler.fit(features_train[numeric])
    features_train[numeric] = scaler.transform(features_train[numeric])
    features_valid[numeric] = scaler.transform(features_valid[numeric])
 
    model = LinearRegression()
    model.fit(features_train, target_train)
    predictions_valid = model.predict(features_valid)

    mean = predictions_valid.mean()

    mean = str(round(mean, 2))

    result = mean_squared_error(target_valid, predictions_valid)**0.5
    print("RMSE of the linear regression model on the validation set:", result)
    print("The average volume of production of the linear regression model on the validation set is", mean, "barrels")
    return

This code creates the necessary variables and calls the above function for all three dataframes. It seems that the second set of data is not as productive as the first and third, and the third dataframe is the most productive for its validation set; however, more work can be done to confirm this.

In [66]:
geo0_train = pd.DataFrame()
geo1_train = pd.DataFrame()
geo2_train = pd.DataFrame()
geo0_valid = pd.DataFrame()
geo1_valid = pd.DataFrame()
geo2_valid = pd.DataFrame()
features0_train = pd.DataFrame()
features1_train = pd.DataFrame()
features2_train = pd.DataFrame()
target0_train = pd.DataFrame()
target1_train = pd.DataFrame()
target2_train = pd.DataFrame()
features0_valid = pd.DataFrame()
features1_valid = pd.DataFrame()
features2_valid = pd.DataFrame()
target0_valid = pd.DataFrame()
target1_valid = pd.DataFrame()
target2_valid = pd.DataFrame()

split_scale_model_data(geo0_train, geo0_valid, geo_data_0, features0_train, target0_train, features0_valid, target0_valid)
split_scale_model_data(geo1_train, geo1_valid, geo_data_1, features1_train, target1_train, features1_valid, target1_valid)
split_scale_model_data(geo2_train, geo2_valid, geo_data_2, features2_train, target2_train, features2_valid, target2_valid)

RMSE of the linear regression model on the validation set: 37.68341093860808
The average volume of production of the linear regression model on the validation set is 92.16 barrels
RMSE of the linear regression model on the validation set: 0.8922819708481464
The average volume of production of the linear regression model on the validation set is 68.45 barrels
RMSE of the linear regression model on the validation set: 40.15250541784855
The average volume of production of the linear regression model on the validation set is 94.92 barrels

Empty DataFrame
Columns: []
Index: []